<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--NAV BAR, quitamos duplicados y agregamos hoja de estilos del bar-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/Estilos/css/Bar.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--FIN-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/PluginsCSS")
    @RenderSection("estilos", required: false)


</head>
<body>

    <!--NAV BAR VERTICAL -->
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">GENERADOR DE ENCUESTAS</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            <strong id="txtnombreusuario"></strong>
                        </span>

                        <span class="user-role" id="txtrolusuario"></span>
                        <span class="user-status">
                            <i class="fa fa-circle" style="color:green;"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-chart-line"></i>
                                <span>Informes</span>
                                
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","InformeMaps")">
                                            Informe 1                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Informe 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Informe 3</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-landmark"></i>
                                <span>Organización</span>
                                <span class="badge badge-pill badge-danger"></span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a class="nav-link" name="ejePrincipal" href="@Url.Action("Index","EjePrincipal")"><i class="fas fa-bezier-curve"></i> Eje Organizativo</a>
                                    <li>
                                        <a class="nav-link" name="geografia" href="@Url.Action("Index","Geografia")"><i class="fas fa-map-marker"></i> Geografia</a>

                                    </li>
                                    <li>
                                        <a class="nav-link" name="perfil" href="@Url.Action("Index","Perfil")"><i class="fas fa-user-cog"></i> Perfiles</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-user-friends"></i>
                                <span>Usuarios</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a class="nav-link" name="usuario" href="@Url.Action("Index","Usuario")"><i class="fas fa-user-friends"></i> Usuarios</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" name="roles" href="@Url.Action("Index","Rol")"><i class="fas fa-user-cog"></i> Roles</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-chart-line"></i>
                                <span>Encuestas</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","Encuesta")">Encuestas</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Indicador")">Indicadores/Preguntas</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Unidad")">Unidades</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Tipo")">Tipos</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class=""></i>
                    <span class="badge badge-pill badge-warning notification"></span>
                </a>
                <a href="#">
                    <i class=""></i>
                    <span class="badge badge-pill badge-success notification"></span>
                </a>
                <a href="#">
                    <i class=""></i>
                    <span class=""></span>
                </a>
                <a href="@Url.Action("Salir", "DashBoard")">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                @RenderBody()
                <footer class="text-center">
                    <div class="mb-2">
                        <small>
                            14/12/2022 TFG <i class="fa fa-heart" style="color:red"></i> by Kathy and Jorge - <a target="_blank" rel="noopener noreferrer" href="">

                            </a>
                        </small>
                    </div>

                </footer>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--FIN NUEVA-->

    <div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/PluginsJS")

    <!--bar js-->

    <script type="text/javascript">
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });

    </script>

    <!--fin bar -->
    <!--Usuario-->
    <script>
        $(document).ready(function () {
            $.get("Login/IndexUsuario", function (data) {
                var contenido = "";
                contenido += data.User;
                document.getElementById("txtnombreusuario").innerHTML = contenido;
            });
        });
    </script>
    <!--Usuario-->

    <script type="text/javascript">

        $.extend({
            MisUrls: {
                url: {}, urls: function (a)
                {
                    $.extend($.MisUrls.url, a);
                }
            }
        });

        //CONTROLADOR ROLES
        $.MisUrls.urls({ Url_ObtenerRoles: '@Url.Action("Obtener", "Rol")' });
        $.MisUrls.urls({ Url_GuardarRol: '@Url.Action("Guardar", "Rol")' });
        $.MisUrls.urls({ Url_EliminarRol: '@Url.Action("Eliminar", "Rol")' });

        //CONTROLADOR PERFILES
        $.MisUrls.urls({ Url_ObtenerPerfil: '@Url.Action("Obtener", "Perfil")' });
        $.MisUrls.urls({ Url_GuardarPerfil: '@Url.Action("Guardar", "Perfil")' });
        $.MisUrls.urls({ Url_EliminarPerfil: '@Url.Action("Eliminar", "Perfil")' });

        //CONTROLADOR Geografia JS CON CONTROLADOR
        $.MisUrls.urls({ Url_ObtenerGeografia: '@Url.Action("Obtener", "Geografia")' });
        $.MisUrls.urls({ Url_GuardarGeografia: '@Url.Action("Guardar", "Geografia")' });
        $.MisUrls.urls({ Url_EliminarGeografia: '@Url.Action("Eliminar", "Geografia")' });

         //CONTROLADOR Eje Principal
        $.MisUrls.urls({ Url_ObtenerEjePrincipal: '@Url.Action("Obtener", "EjePrincipal")' });
        $.MisUrls.urls({ Url_GuardarEjePrincipal: '@Url.Action("Guardar", "EjePrincipal")' });
        $.MisUrls.urls({ Url_EliminarEjePrincipal: '@Url.Action("Eliminar", "EjePrincipal")' });

        //CONTROLADOR USUARIOS
        $.MisUrls.urls({ Url_ObtenerUsuarios: '@Url.Action("Obtener", "Usuario")' });
        $.MisUrls.urls({ Url_GuardarUsuario: '@Url.Action("Guardar", "Usuario")' });
        $.MisUrls.urls({ Url_EliminarUsuario: '@Url.Action("Eliminar", "Usuario")' });

        //controlador tipos
        $.MisUrls.urls({ Url_ObtenerTipo: '@Url.Action("Obtener", "Tipo")' });
        $.MisUrls.urls({ Url_GuardarTipo: '@Url.Action("Guardar", "Tipo")' });
        $.MisUrls.urls({ Url_EliminarTipo: '@Url.Action("Eliminar", "tipo")' });
        //controlador unidad
        $.MisUrls.urls({ Url_ObtenerUnidad: '@Url.Action("Obtener", "Unidad")' });
        $.MisUrls.urls({ Url_GuardarUnidad: '@Url.Action("Guardar", "Unidad")' });
        $.MisUrls.urls({ Url_EliminarUnidad: '@Url.Action("Eliminar", "Unidad")' });

        //controlador Indicador
        $.MisUrls.urls({ Url_ObtenerIndicador: '@Url.Action("Obtener", "Indicador")' });
        $.MisUrls.urls({ Url_GuardarIndicador: '@Url.Action("Guardar", "Indicador")' });
        $.MisUrls.urls({ Url_EliminarIndicador: '@Url.Action("Eliminar", "Indicador")' });
        //controlador Encuesta
        $.MisUrls.urls({ Url_ObtenerEncuesta: '@Url.Action("Obtener", "Encuesta")' });
        $.MisUrls.urls({ Url_GuardarEncuesta: '@Url.Action("Guardar", "Encuesta")' });
        $.MisUrls.urls({ Url_EliminarEncuesta: '@Url.Action("Eliminar", "Encuesta")' });

        //lenguaje español datatable
        $.MisUrls.urls({ Url_datatable_spanish: '@Url.Content("~/content/plugins/datatables/js/datatable_spanish.json")' });

    </script>
    <!--ESTO NO HARÍA FALTA-->
    <!--debe ser siempre el primero Jquery-->
    <!--ESTO NO HARÍA FALTA FIN-->
    @RenderSection("scripts", required: false)
</body>
</html>
